<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.o2_company.hyerimhyeon.o2_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission android:name="com.o2.o2sport.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.o2.o2sport.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="오투스포츠"
        android:theme="@style/CustomTheme"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <service
            android:name="com.o2_company.FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <service
            android:name="com.o2_company.FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.MainActivity"
            android:label="오투스포츠"
            android:theme="@style/CustomTheme"
            android:hardwareAccelerated="false">


        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.NewsfeedWriteActivity"
            android:label="오투스포츠"
            android:theme="@style/AppTheme.NoActionBar"
            android:hardwareAccelerated="false">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.NewsfeedUpdateActivity"
            android:label="오투스포츠"
            android:theme="@style/AppTheme.NoActionBar"
            android:hardwareAccelerated="false">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.OtherPageActivity"
            android:label="오투스포츠"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.MypageActivity"
            android:label="오투스포츠"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.GalleryUtil"
            android:label="오투스포츠"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.NoticeActivity"
            android:label="오투스포츠"
            android:theme="@style/CustomTheme">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.LoginActivity"
            android:label="오투스포츠"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.SearchFeedActivity"
            android:label="오투스포츠"
            android:theme="@style/CustomTheme">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.RegisterActivity"
            android:label="오투스포츠"
         android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.MemberActivity"
            android:label="오투스포츠"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.MentoRegisterActivity"
            android:label="오투스포츠"
         android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.ExpertRegisterActivity"
            android:label="오투스포츠"
         android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.ChildRegisterActivity"
            android:label="오투스포츠"
         android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.SubjectFeedActivity"
            android:label="오투스포츠"
         android:theme="@style/CustomTheme">
        </activity>


        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.SubjectFeedActivity2"
            android:label="오투스포츠"
         android:theme="@style/CustomTheme">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.ExpertFeedActivity"
            android:label="오투스포츠"
         android:theme="@style/CustomTheme">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.LifeExpertFeedActivity"
            android:label="오투스포츠"
            android:theme="@style/CustomTheme">
        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.FeedDetailActivity"
            android:label="오투스포츠"
            android:theme="@style/CustomTheme"
            >

        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.SearchActivity"
            android:label="오투스포츠"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>



        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.InviteActivity"
            android:label="오투스포츠"
            android:theme="@style/CustomTheme"
            android:hardwareAccelerated="false">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="appshc" android:host="checkApp" />

                <data android:scheme="@string/kakao_scheme" android:host="@string/kakaolink_host" />
                <data android:scheme="@string/kakao_scheme" android:host="@string/kakaolink_host" />

            </intent-filter>


        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.LifeExpertRegisterActivity"
            android:label="오투스포츠"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.MypageSettingActivity"
            android:label="오투스포츠"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.OtherPageMoreActivity"
            android:label="오투스포츠"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name="com.o2_company.hyerimhyeon.o2_android.SplashActivity"
            android:label="오투스포츠"
            android:largeHeap="true"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>


            </activity>


        <meta-data android:name="userhabitApiKey" android:value="36f07772a121a95226ae88c5bf1a12d7620f3e56" />
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key"/>
        <service android:name="io.userhabit.service.main.service.UserhabitService" />
    </application>



</manifest>